# https://fhnw.mit-license.org/

[Unit]
Description=Service to register at APGateway
Requires=network.target
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/register
ExecStart=/usr/bin/python3 /home/pi/register/register.py
Restart=always
TimeoutSec=10

[Install]
WantedBy=multi-user.target

